<?xml version="1.0"?>
<robot name="clean_car" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find clean_car_description)/urdf/clean_car_body.xacro" />
	<xacro:include filename="$(find clean_car_description)/urdf/rplidar.xacro" />
	<xacro:include filename="$(find clean_car_description)/urdf/imu.xacro" />
	<xacro:property name="rplidar_offset_x" value="0.08" />
	<xacro:property name="rplidar_offset_y" value="0" />
	<xacro:property name="rplidar_offset_z" value="0.0605" /> 
    
	<xacro:property name="imu_offset_x" value="0.0" />
	<xacro:property name="imu_offset_y" value="0.0" />
	<xacro:property name="imu_offset_z" value="0.0405" />

	<clean_car_body/>

	<!-- rplidar -->
	<joint name="rplidar_joint" type="fixed">
		<origin xyz="${rplidar_offset_x} ${rplidar_offset_y} ${rplidar_offset_z}" rpy="0 0 0" />
		<parent link="base_link"/>
		<child link="velodyne"/>
	</joint>
	<xacro:rplidar prefix="velodyne"/>

	<joint name="imu_joint" type="fixed">
		<origin xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}" rpy="0 0 0" />
		<parent link="base_link"/>
	<child link="imu_link"/>
	</joint>
	<xacro:imu prefix="imu"/>


</robot>
