<!--imu ros 驱动-->
<launch>
    <!-- imu型号，默认 a9 -->
    <arg name="imu_type" default="a9" doc="model type [a9, b9, b6 ,d6]"/>

    <!-- imu 对应 python 文件 -->
    <node pkg="synchronizer_laser_imu" type="h_$(arg imu_type)_ros.py" name="imu" output="screen">
    </node>

    <arg name="hostPC" default="192.168.1.100" />
    <node pkg="synchronizer_laser_imu" name="laser_node" type="laser_node">
      <param name="hostPC" value="$(arg hostPC)" />
    </node>

</launch>

